@page
@model ForgotPasswordConfirmation

    <link rel="stylesheet" href="~/css/login.css">
<div class="groupbox">

    <div class="login-container">
        <div class="login-form">
            <form method="post">
                <input type="hidden" asp-for="Input.Email" />

                <h1>Enter Verification code</h1>

                <p class="email-info">Enter the 4-digit verification code that we have sent to your email<br>@Model.Input.Email<br></p>

                <div class="code-box">
                    <input type="text" id="code1" maxlength="1" class="code-input" oninput="moveToNext(this, 'code2')">
                    <input type="text" id="code2" maxlength="1" class="code-input" oninput="moveToNext(this, 'code3')">
                    <input type="text" id="code3" maxlength="1" class="code-input" oninput="moveToNext(this, 'code4')">
                    <input type="text" id="code4" maxlength="1" class="code-input" oninput="combineCode()">
                </div>

                <input type="hidden" asp-for="Input.CodeFromEmail" id="fullCode">
                <span class="text-danger" asp-validation-for="Input.CodeFromEmail"></span>
                <br />
                <button class="login-button" >Submit</button>

                <div class="resend-container">
                    <a href="#" class="resend-link" id="resendLink">Resend code</a>
                    <span id="countdown">5:00</span>
                </div>



            </form>
        </div>
        <div class="image-container"></div>
    </div>

</div>
<script>
    //for code input
    function moveToNext(current, nextId) {
        if (current.value.length === 1 && nextId) {
            document.getElementById(nextId).focus();
        }
        combineCode();
    }

    function combineCode() {
        let code = "";
        for (let i = 1; i <= 4; i++) {
            code += document.getElementById("code" + i).value;
        }
        document.getElementById("fullCode").value = code;
    }

    // 5 minit Counter

    let countdown = 300; 
    let countdownElement = document.getElementById("countdown");
    let resendLink = document.getElementById("resendLink");

    function startCountdown() {
        resendLink.style.pointerEvents = "none"; 
        resendLink.style.opacity = "0.5"; 

        let timer = setInterval(function () {
            countdown--;
            let minutes = Math.floor(countdown / 60);
            let seconds = countdown % 60;
            countdownElement.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;

            if (countdown <= 0) {
                clearInterval(timer);
                resendLink.style.pointerEvents = "auto"; 
                resendLink.style.opacity = "1";
                countdownElement.textContent = ""; 
            }
        }, 1000);
    }


    startCountdown(); 
</script>

