@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link rel="stylesheet" href="~/css/login.css">
<div class="groupbox">
    <div class="login-container">
        <div class="login-form">
            <form  method="post">
                <h1>@ViewData["Title"]</h1>
                
                <div lass="form-group">
                    <label asp-for="Input.Email">Enter Your Email address</label>
                    <input asp-for="Input.Email" type="email" >
                    <span class="text-danger" asp-validation-for="Input.Email"></span>
                </div>
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger mt-2">
                        @TempData["error"]
                    </div>
                }
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success mt-2">
                        @TempData["success"]
                    </div>
                }

                <button class="login-button">Send Code</button>
                <div class="divider">or</div>
                <div class="signup-link">
                    <a  asp-page="./login">Back To Login ?</a>
                </div>
                
            </form>
        </div>
        <div class="image-container"></div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
