@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<link rel="stylesheet" href="~/css/login.css">

<div class="groupbox">
    <div class="login-container">
        <div class="login-form">
            <form method="post">

                <input asp-for="Input.Email" type="hidden" />
                <h1>@ViewData["Title"]</h1>
                <div class="code-inputs">
                    <label asp-for="Input.Password" ></label>
                    <input asp-for="Input.Password"  autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="code-inputs">
                    <label asp-for="Input.ConfirmPassword" ></label>
                    <input asp-for="Input.ConfirmPassword"  autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            
                <button class="login-button">Reset</button>
            
            </form>
        </div>
        <div class="image-container"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
